@using CarShop.Domain.Modeles
@model Cart

<a asp-controller="Cart" asp-action="Index" class="navbar-text ms-auto text-decoration-none">
  <i class="fa-solid fa-cart-shopping"></i>
  (@Model.Count)
  <span class="ms-1">| @Model.CartItems.Values.Sum(x => x.Item.Price * x.Qty).ToString("F0") $</span>
</a>