@model SelectList

<div class="mb-4">
    <h1>@ViewData["text"]</h1>
</div>

<!-- Список с буквенной нумерацией -->
<div class="row mb-4">
    <div class="col-sm-12">
        <h2>Список</h2>
        <ol style="list-style-type: upper-alpha; padding-left: 20px;">
            @for (int i = 0; i < 5; i++)
            {
                <li>элемент @i списка</li>
            }
        </ol>
    </div>
</div>

<hr />

<!-- Форма -->
<form method="post" asp-action="Index">
    <h2>Форма</h2>

    <div class="row mb-3">
        <div class="col-sm-2">
            <label class="form-label fw-bold">Список:</label>
        </div>

        <div class="col-sm-10">
            <select class="form-select" asp-items="Model" name="selDemo">
            </select>
        </div>
    </div>

    <!-- Чек-боксы -->
    <div class="row mb-2">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="check1" id="check1">
                <label class="form-check-label" for="check1">Чек-бокс 1</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="check2" id="check2">
                <label class="form-check-label" for="check2">Чек-бокс 2</label>
            </div>
        </div>
    </div>

    <!-- Радио-кнопки -->
    <div class="row mb-3">
        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioGroup" id="radio1" value="1">
                <label class="form-check-label" for="radio1">Радио-1</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioGroup" id="radio2" value="2">
                <label class="form-check-label" for="radio2">Радио-2</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioGroup" id="radio3" value="3">
                <label class="form-check-label" for="radio3">Радио-3</label>
            </div>
        </div>
    </div>

    <!-- Логин -->
    <div class="row mb-3">
        <div class="col-sm-2">
            <label for="login" class="form-label fw-bold">Логин:</label>
        </div>

        <div class="col-sm-10">
            <input type="text" class="form-control" name="login" id="login" placeholder="Введите имя"
                   style="width: 300px;">
        </div>
    </div>

    <!-- Пароль -->
    <div class="row mb-3">
        <div class="col-sm-2">
            <label for="password" class="form-label fw-bold">Пароль:</label>
        </div>

        <div class="col-sm-10">
            <input type="password" class="form-control" name="password" id="password" placeholder="Введите пароль"
                   style="width: 300px;">
        </div>
    </div>

    <!-- Кнопка -->
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">
                Отправить
            </button>
        </div>
    </div>
</form>